<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:thref="@{/home}">Home</a></li>
                <li><a th:thref="@{/livros}">Livros</a></li>
                <li><a th:thref="@{/addlivro}">Adicionar Livros</a></li>
                <li><a th:thref="@{/contact}">Contato</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>